@{
    ViewData["Title"] = "Home Page dotnet";
}


<div class="row">
    <div class="col-md-12">
        <h1>
            Hello Dear and Sharukh SHaikh
        </h1>
        <h2>
            This is my first change
        </h2>
    </div>

</div>
